# pip install vllm (latest)
gymnasium
playwright==1.32.1
Pillow
evaluate
openai==0.28.1
types-tqdm
tiktoken
prompt_toolkit
aiolimiter
beartype==0.12.0
minigrid==2.3.0
nltk
tenacity
timeout-decorator
gradio
gym==0.24.0
werkzeug==2.2.2
gspread
imageio
scikit-image
geopy
jsonlines
python-dotenv
bs4
deepspeed
scienceworld
wandb
plotly
accelerate